.row-error {
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.error {
  padding: 5px 10px;
}

.row-operator {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
  min-height: 47px;
}

.row-operator:nth-child(odd) {
  background-color: #f4f9fc;
}

.row-operator.row-operator:nth-child(even) {
  background-color: #d9edf7;
}

.ranges input[type=number] {
  padding: 5px;
}

.row-actions {
  margin-bottom: 10px;
}
