<div class="container">
  <div class="row" [ngClass]="{'bg-danger': isError}">
    <div class="col-xs-12 text-center">
      <div *ngIf="!getProblem()">
        Please configure before playing.
      </div>
      <div *ngIf="getProblem()" class="problem">
        {{ getProblem().operand1 }} {{ getProblem().operator }} {{ getProblem().operand2 }} = {{ response }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(7)">7</button></div>
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(8)">8</button></div>
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(9)">9</button></div>
  </div>
  <div class="row">
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(4)">4</button></div>
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(5)">5</button></div>
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(6)">6</button></div>
  </div>
  <div class="row">
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(1)">1</button></div>
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(2)">2</button></div>
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(3)">3</button></div>
  </div>
  <div class="row">
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-primary btn-lg" (click)="pushButton(0)">0</button></div>
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-default" (click)="clearResponse()">Clear</button></div>
    <div class="col-xs-4 digit"><button type="button" class="btn btn-block btn-success" (click)="submitResponse()">Submit</button></div>
  </div>

  <div class="row text-right">
    <div class="col-xs-12">
      [ {{ problemsCorrect.length }} / {{ problemsCorrect.length + problemsIncorrect.length }} ]
    </div>
  </div>
</div>

