<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Summary</h2>
      <div>
        [ {{ correct.length }} / {{ total}} ]
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h4>Incorrect</h4>
      <ul>
        <li *ngFor="let problem of getProblems('incorrect')">
          {{ problem.operand1 }} {{ problem.operator }} {{ problem.operand2 }} = {{ problem.response }}
        </li>
      </ul>
    </div>
    <div class="col-xs-6">
      <h4>Correct (latest five)</h4>
      <ul>
        <li *ngFor="let problem of getProblems('correct')">
          {{ problem.operand1 }} {{ problem.operator }} {{ problem.operand2 }} = {{ problem.response }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>All</h4>
      <div *ngIf="!showAll">
        Will show all problems in {{ secondsRemaining }} seconds...
      </div>

      <ol *ngIf="showAll">
        <li *ngFor="let problem of getProblems('all')">
          {{ problem.operand1 }} {{ problem.operator }} {{ problem.operand2 }} = {{ problem.response }}
        </li>
      </ol>
    </div>
  </div>
</div>