<form [formGroup]="form" class="form-group container">
  <div *ngFor="let operator of operators" class="row row-operator">
    <div formGroupName="{{ operator }}">
      <label class="operator col-xs-2"><input type="checkbox" formControlName="enabled" /> {{ operator }}</label>
      <div [class.hidden]="!form.value[operator].enabled" formGroupName="ranges" class="form-inline ranges col-xs-10">
        <div formGroupName="top" class="row">
          <div class="col-xs-6">
            <input placeholder="From" type="number" min="0" formControlName="start" class="form-control" />
          </div>
          <div class="col-xs-6">
            <input placeholder="to" type="number" min="0" formControlName="end" class="form-control" />
          </div>
        </div>
        <div formGroupName="bottom" class="row">
          <div class="col-xs-6">
            <input type="number" min="0" formControlName="start" class="form-control" />
          </div>
          <div class="col-xs-6">
            <input type="number" min="0" formControlName="end" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-actions">
    <div class="col-xs-10">
      <label class="sr-only">Preset</label>
      <select formControlName="preset" class="input-sm">
        <option value="_none">Preset</option>
        <option *ngFor="let presetName of presetNames" value="{{ presetName }}">{{ presetName }}</option>
      </select>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-default" (click)="reset()">Clear</button>
    </div>
  </div>

  <div [class.hidden]="!error" class="row bg-danger row-error">
    <div class="error col-xs-12">
      {{ error }}
    </div>
  </div>
</form>
